.country-search-panel .search-option {
    height: auto !important;
    padding: 0 !important;
    pointer-events: none;
}

.country-search-panel .search-option input {
    pointer-events: auto;
}

.country-search-panel .mat-mdc-option {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.country-search-panel .search-option {
    padding: 0 !important;
    height: auto !important;
}

.country-search-panel .search-option input {
    width: 100% !important;
    box-sizing: border-box !important;
}


.plan-card {
    transition: all .25s ease;
}

.plan-card:hover {
    transform: translateY(-2px);
}

.plan-card .select-button {
    transition: background-color .25s;
}

.selected-plan {
    border-color: #3b82f6; /* primary-500 */
    box-shadow: 0 4px 12px rgba(59, 130, 246, 0.2);
}
